In [1]:
import numpy as np
import pandas as pd

#DATA
NigUni="NigerianUniversity"

def open_data(path):
    return path

data = open_data(f'../data/{NigUni}.csv')

In [2]:
df = pd.read_csv(data)
df

,info_id,name,location,url,address,phone_no
0,1.0,Adekunle Ajasin University,Akungba-Akoko,https://aaua.edu.ng/,Adekunle Ajasin University P. M. B. 001 Akungb...,+234-705-7890597 +234-816-1651123 +234-708-910...
1,2.0,Afe Babalola University,Ado Ekiti,www.abuad.edu.ng,Olusegun Obasanjo Way 360102 Ado Ekiti,+234 812 - 777 - 2121 +234 803 - 350 - 9150 +2...
2,3.0,Caritas University,Enugu,https://www.caritasuni.edu.ng/,Caritas University Amorji-Nike Enugu,08063589115 07085308771 07014431183 0807834681
3,4.0,Cross River University of Technology,Calabar,https://www.crutech.edu.ng/,CRUTECH.P.M.B 1123 Calabar. Cross River State....,08052129091
4,5.0,Enugu State University of Science and Technology,Enugu,https://www.esut.edu.ng,Enugu State University of Science and Technolo...,NaN
...,...,...,...,...,...,...
80,81.0,Bauchi State University,Gadau,NaN,NaN,NaN
81,82.0,Abubakar Tatari Ali Polytechnic,Bauchi,NaN,NaN,NaN
82,83.0,Nigerian Army University Biu (NAUB) Ajasin Uni...,Ondo,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN
84,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
import pymysql as mysql
from sqlalchemy import create_engine

db_connection = mysql.connect(host='192.168.64.2',
database='Easysearch', user='ola', password='rkEVq9Z9gZXIsRem')
df.to_sql("info", db_connection,if_exists='append')

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting